.date {
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px auto auto;
  padding: 4px 8px;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  color: white;
  font-size: smaller;
}
